/*////////////////////////////////////////////////////////////////////////////*/
/*PARAMETRES*/
/*////////////////////////////////////////////////////////////////////////////*/

body {
    text-align: center;
    margin: 0px 195px;
    height: max-content;
}

p {
    padding: 30px;
    text-align: justify;
    font-style: italic;
}

h2 {
    margin-top: 100px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*EXO1*/
/*////////////////////////////////////////////////////////////////////////////*/

.carre {
    background-color: rgb(136, 174, 136);
    color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    margin-left: 340px;
    cursor: pointer;
    animation: appear 1s;
}

/*Animation apparition des éléments au démarrage (ZOOM)*/

@keyframes appear {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*////////////////////////////////////////////////////////////////////////////*/
/*EXO2*/
/*////////////////////////////////////////////////////////////////////////////*/

#carres {
    display: flex;
    flex-wrap: wrap;
    margin-left: 240px;
    margin-right: 80px;
}

/*Ajouter "box" pour améliorer l'élément html*/

.box {
    width: 200px;
    height: 200px;
    background-color: rgb(115, 145, 5);
    color: white;
    font-size: 3em;
    text-align: center;
    line-height: 4;
    margin: 5px;
    cursor: pointer;

    /*Pour faire animer les éléments au démarrage*/
    animation: rotateright 1s;
}

/*Change la couleur de la boite quand celle-ci est sélectionée au click*/

.box-valid {
    background-color: #c21111;
    color: black;

    /*Pour permettre à l'élément de faire une rotation*/
    animation: rotateleft 1s;

    /*Pour réduire la taille de 10%*/
    transform: scale(0.9);

    /*Pour animer le changement de couleur*/
    transition: background-color 0.8s, color 0.8s, transform 0.8s;

}

/*ANIMATIONS*/
/*Animation rotation 360°*/

@keyframes rotateleft {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

/*Animation rotation 360°*/

@keyframes rotateright {
    from {
        transform: rotate(360deg)
    }

    to {
        transform: rotate(0deg)
    }
}

/*Animation apparition des éléments au démarrage (ZOOM)*/

@keyframes move {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*////////////////////////////////////////////////////////////////////////////*/
/*EXO3*/
/*////////////////////////////////////////////////////////////////////////////*/

#grille {
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
}

.fond {
    background-image: url(./image/jeu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Ajouter "box1" pour améliorer l'élément html*/

.box1 {
    width: 200px;
    height: 200px;

    /*Effet de transparence*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), grey);
    backdrop-filter: blur(8px);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    line-height: 5;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
}

.box2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    animation: move 1s;
}

h3 {
    text-align: center;
    margin-left: 360px;
}

.box1-valid {
    background-color: rgb(234, 226, 226);
    color: black;
    opacity: 80%;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*EXO4*/
/*////////////////////////////////////////////////////////////////////////////*/

#plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cube {
    width: 60px;
    height: 60px;
    background: blue;
    margin: 2px;
    cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*EXO5*/
/*////////////////////////////////////////////////////////////////////////////*/


#convert {
    display: flex;
    justify-content: center;
}

.fond1 {
    background-image: url(./image/bourse.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    line-height: 8.5;
}

.conv {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    color: white;
    text-align: center;
    /* line-height: 5; */

    /*Effet de transparence*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), grey);
    backdrop-filter: blur(8px);
}

input {
    width: 100px;
    position: relative;
    bottom: 280px;
    padding: 8px;
}

output {
    position: absolute;
    right: 600px;
    top: 2900px;
    color: white;
}

/*RESPONSIVE//////////////////////////////////////////////////////////////////*/

@media (max-width: 1196px) {

    .carre {
        margin-left: 130px;
    }


    #carres {
        margin-left: 25px;
        margin-right: 0px;
    }

    #grille {
        margin-left: 20px;
    }

    h3 {
        text-align: center;
        margin-left: 230px;
    }

    .box1 {
        width: 140px;
        height: 140px;
        line-height: 3.5;
    }

    .conv {
        margin: 35px;
        width: 130px;
        height: 130px;
        font-size: 1em;
    }

    .fond1 {
        line-height: 6.5;
    }

    input {
        width: 80px;
        position: relative;
        bottom: 140px;
        padding: 0px;
    }

    output {
        right: 456px;
        top: 2790px;
    }

}

@media (min-width: 0) and (max-width: 768px) {

    body {
        margin: 0px
    }

    .carre {
        margin-left: 110px;
    }

    #carres {
        margin-left: 15px;
        margin-right: 0px;

    }

    #grille {
        margin-left: 20px;
    }

    h3 {
        text-align: center;
        margin-left: 100px;
    }

    .box {
        width: 180px;
        height: 180px;
    }

    .box1 {
        width: 120px;
        height: 120px;
        line-height: 3;
    }

    .conv {
        margin: 35px;
        width: 130px;
        height: 130px;
        font-size: 0.9em;
        line-height: 6;
    }

    input {
        width: 80px;
        position: relative;
        bottom: 150px;
    }

    output {
        right: 165px;
        top: 2910px;
    }

}